# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.idea/*
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
.idea/*
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
Tester.py
.idea/RequestChannel.bundle.iml
.idea/vcs.xml
.idea/FlexTV.bundle.iml
.idea/vcs.xml
.idea/vcs.xml
Contents/PlexFiles/bootstrap.py
Contents/PlexFiles/config.py
!/Contents/Libraries/Shared/subzero/lib/
